# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries
# .idea/vcs.xml
.DS_Store
**/.github
**/.vscode
_downloads/
coverage/
dist/
**/node_modules/

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

# Ignore Test Results
test/test-results

## File-based project format:
*.iprupdatedStatus
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
npm-debug.log

# Project Files
**/src/*.js
**/src/*.map
**/src/app/*.js
**/src/app/**/*.js
**/src/app/**/**/*.js
**/src/app/*.map
**/src/app/**/*.map
**/src/app/**/**/*.map
**/src/e2e/*.js
**/src/e2e/**/*.js
**/src/e2e/**/**/*.js
**/src/e2e/*.map
**/src/e2e/**/*.map
**/src/e2e/**/**/*.map